{% extends "base.html" %}
{% block title %}Packages{% endblock %}

{% block content %}
<h2 class="mb-4">Available Packages</h2>

<div class="row">
  {% for p in packages %}
  <div class="col-md-4 mb-4">
    <div class="card p-4">
      <h5 class="card-title">{{ p.name }}</h5>
      <p class="card-text fs-5">
        {{ p.price }} {{ p.currency }}
      </p>
      <a href="{{ url_for('buy_package', package_id=p.id) }}" class="btn btn-primary w-100">
        Buy
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
